.menu {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.super {
  margin-left: -25px;
  margin-top: 402px;
}

.menu2 {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 94px;
}

.menu3 {
  display: flex;
}

.ppp {
  max-width: 310px;
  background: #fbfbfb;
  text-decoration: none;
}

.ttt {
  max-width: 840px;
  margin: 0 0 90px 40px;
  max-height: 1190px;
}

.card {
  max-width: 258px;
  margin-bottom: 70px;
  border-top: solid 1px transparent;
  position: relative;
  overflow: hidden;
}
.card .discont {
  background-color: #46A358;
  padding: 9px 7px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 14px;
  color: white;
  font-family: "fontspring_demo_-_cera_proRg", sans-serif;
}
.card .navigator {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 63px;
  top: 233px;
}
.card .navigator li a {
  text-decoration: none;
  margin-left: 15px;
}
.card:hover .navigator {
  opacity: 1;
  list-style: none;
}

.container2 {
  margin-bottom: 100px;
}
.container2 .blog3 .card4 a:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 80px;
  bottom: 0px;
  background-image: url("../images/Arrow-Right.svg");
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.service, .service2 {
  max-width: 204px;
  margin: 25px 10px 0;
}
.service img, .service2 img {
  margin-bottom: 17px;
}
.service h3, .service2 h3 {
  margin-top: 8px;
}

.service2 {
  border-left: solid 1px rgba(70, 163, 88, 0.1);
  border-right: solid 1px rgba(70, 163, 88, 0.1);
  padding: 0 20px;
}

.container3 {
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  background: #fbfbfb;
  margin-bottom: 30px;
}

.subscribe {
  max-width: 354px;
}
.subscribe h3 {
  margin-bottom: 20px;
}
.subscribe form {
  display: flex;
  justify-content: center;
  width: 355px;
}
.subscribe input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  width: 269px;
  margin-bottom: 17px;
}
.subscribe button {
  background: green;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  width: 81px;
  margin-bottom: 17px;
}

.contact {
  max-width: 1200px;
  height: 88px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
  margin-bottom: 33px;
  border-top: solid 2px rgba(70, 163, 88, 0.1);
  border-bottom: solid 2px rgba(70, 163, 88, 0.1);
}
.contact p {
  max-width: 178px;
  position: relative;
}
.contact img {
  width: 150px;
  height: 34px;
}
.contact .stret:before, .contact .stret2:before, .contact .stret3:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
}
.contact .stret:before {
  right: 185px;
  top: 5px;
  background-image: url("../images/Icon.svg");
}
.contact .stret2:before {
  right: 175px;
  background-image: url("../images/Icon1.svg");
}
.contact .stret3:before {
  right: 125px;
  background-image: url("../images/Icon(2).svg");
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: solid 2px rgba(70, 163, 88, 0.1);
}
.footer-links ul li {
  list-style: none;
  margin-bottom: 4px;
}
.footer-links ul li a {
  text-decoration: none;
  color: black;
}
.footer-links h4 {
  margin-bottom: 8px;
}

.social-icons {
  margin-bottom: 22px;
  display: flex;
}
.social-icons img {
  margin-left: 10px;
}

.inform {
  text-align: center;
  background: white;
}

/*# sourceMappingURL=futer.css.map */
