@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
    url('fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.baner .container{
    align-items: center;
}
header{
    margin-bottom: 12px;
    padding-top: 30px;
}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
}
header nav ul li a{
    font-family: "fontspring_demo_-_cera_proRg";
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    position: relative;
}
header nav ul li a:hover{
    color: #3d3d3d;
    font-family: "fontspring_demo_-_cera_proRg";
    font-weight: 700;
}
header nav ul li a:hover:before{
    width: 100%;
}
header nav ul li a:before {
    content: "";
    display: block;
    background: #46a358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -25px;
    transition: 0.4s;
}
header nav ul li{
    position: relative;
}
header nav ul li .dropdown {
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
    padding-top: 40px;
}
header nav ul li .dropdown a:before {
    display: none;
}
header nav ul li .dropdown a {
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background: #EDF6EE;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    line-height: 20px;
    transition: 0.3s;
    position: relative;
}
header nav ul li .dropdown a:hover {
    background-color: #1a712a;
    color: white;
}
.lastdrop a:after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    background-image: url("../images/arow.svg");
}
header nav ul li .dropdown a:hover:after {
    background-image: url("../images/arow_hover.svg");
    transform: rotate(180deg);
}
header nav ul li.drop:hover .dropdown {
    display: block;
}
.dropdown2{
    display: none;
    position: absolute;
    min-width: 178px;
}
.lastdrop:hover .dropdown2{
    display: block;
    left: 100%;
    top: -300%;
}
.lastdrop{
    position: relative;
}
header nav ul li .dropdown2 a:after{
    display: none;
}
header .login{
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: "fontspring_demo_-_cera_proRg", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
header .login svg{
    margin-right: 4px;
}
header .login svg path{
    transition: 0.4s;
    margin-right: 4px;
}
header .login:hover{
    background: white;
    color: #46a358;
}
header .login:hover svg path{
    stroke: #46a358;
}
.baner .acticle{
    max-width: 557px;
}
.ioo{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: "fontspring_demo_-_cera_proRg", sans-serif;
}
main section div h1 span{
    color: #46a358;
}
.aoo{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: "fontspring_demo_-_cera_proRg", sans-serif;
}
.qoo{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: "fontspring_demo_-_cera_proRg", sans-serif;
    second-family: "Hanging Letters", sans-serif;
}
.uoo{
    border: 1px solid #46a358;
    border-radius: 6px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: green;
}
.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.super {
    margin-left: -25px;
    margin-top: 402px;
}
.menu2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 94px;
}
.menu3{
    display: flex;
}
.ppp{
    max-width: 310px;
    background: #fbfbfb;
    text-decoration: none;
}
.ttt{
    max-width: 840px;
    margin-left: 40px;
    max-height: 1190px;
    margin-bottom: 90px;
}
.card {
    max-width: 258px;
    margin-bottom: 70px;
    border-top: solid 1px transparent;
    position: relative;
    overflow: hidden;
}
.discont{
    background-color: #46a358;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 9px;
    padding-bottom: 9px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 14px;
    color: white;
}
.card:hover{
    border-top: solid 1px #46a358;
}
.yyy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}
.ttt li{
    text-decoration: none;
    flex-direction: row;
}
.ttt li a{
    display: flex;
    flex-direction: row;
}
.rrr{
    display: flex;
    margin-bottom: 31px;
    list-style: none;
    margin-bottom: 38px;
}
.jjj{
    list-style: none;
}
.iii {
    margin-left: 14px;
    margin-bottom: 18px;
}
.iii a{
    text-decoration: none;
    color: black;
    margin-bottom: 402px;
}
.rrr p{
    display: flex;
    justify-content: flex-end;
}
.shortby{
    display: flex;
    justify-content: space-between;
}
.rrr a{
    text-decoration: none;
    color: black;
    list-style: none;
}
.yyy p {
    color: green;
}
.iii a{
    margin-left: 12px;
}
.rrr a{
    margin-right: 37px;
}
.pages{
    list-style: none;
    display: flex;
    justify-content: right;
}
.pages a{
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    display: flex;
    color: #3d3d3d;
    align-items: center;
    justify-content: center;
}
.pags{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}
.pags a:hover{
    background: #46a358;
    color: white;
}
.card img{
    margin-bottom: 31px;
}
.flex{
    display: flex;
    margin-left: 100px;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 138px;
}
.blog{
    display: flex;
    justify-content: space-between;
    max-width: 586px;
    background: #FBFBFB;
}
.card3{
    text-align: right;
}
.card3 h3{
    padding-top: 37px;
    padding-left: 119px;
    padding-right: 30px;
}
.card2 img{
    margin-bottom: 10px;
    margin-top: -50px;
    margin-left: 0px;
}
.card3 p{
    padding-bottom: 25px;
    padding-top: 9px;
    padding-right: 30px;
}
.card3 a{
   text-align: right;
    margin-right: 30px;
}
.onle{
    text-align: center;
    margin-bottom: 15px;
}
.onle2{
    margin-bottom: 35px;
    text-align: center;
}
.card4{
    background-color: #FBFBFB;
    max-width: 268px;
    display: flex;
    flex-direction: column;
}
.card4 p span{
    margin-bottom: 4px;
    color: green;
    margin-left: 15px;
}
.card4 h3{
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 64px;
}
.card4 p{
    padding-bottom: 9px;
    padding-left: 15px;
}
.uuu{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    display: inline-flex;
    position: relative;
}
.card p span{
    text-decoration: line-through;
    margin-left: 16px;
    color: #727272;
}
.menu2 .container{
    margin-bottom: 90px;
}
.blog3{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.navigator{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 63px;
    top: 233px;
}
.card:hover .navigator{
    opacity: 1;
    list-style: none;
}
.navigator li a{
    text-decoration: none;
    margin-left: 15px;
}
.container2 .blog3 .card4 a:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 80px;
    bottom: 0px;
    background-image: url("../images/Arrow-Right.svg");
}
.services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}
.container2{
    margin-bottom: 100px;
}
.service2{
    border-left: solid 1px rgba(70, 163, 88, 0.1);
    border-right: solid 1px rgba(70, 163, 88, 0.1);
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.service{
    max-width: 204px;
    margin-top: 25px;
    margin-left: 10px;
}
.service img{
    margin-bottom: 17px;
}
.service h3{
    margin-top: 8px;
}
.service2 img{
    margin-bottom: 17px;
}
.service2 h3{
    margin-top: 8px;
}
.container3{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    background: #FBFBFB;
    margin-bottom: 30px;
}
.service2{
    max-width: 204px;
    margin-left: 10px;
    margin-right: 10px;
}
.subscribe form{
    display: flex;
    justify-content: center;
    width: 355px;
}
.subscribe{
    max-width: 354px;
}
.subscribe h3{
    margin-bottom: 20px;
}
.subscribe input{
    margin-bottom: 17px;
}
.subscribe button{
    margin-bottom: 17px;
}
.subscribe input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    width: 269px;
}
.subscribe button {
    background: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    width: 81px;
}
.contact{
    max-width: 1200px;
    height: 88px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    margin-bottom: 33px;
    border-top: solid 2px rgba(70, 163, 88, 0.1);
    border-bottom: solid 2px rgba(70, 163, 88, 0.1);
}
.contact p{
    max-width: 178px;
}
.contact img{
    width: 150px;
    height: 34px;
}
.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6px;
    border-bottom: solid 2px rgba(70, 163, 88, 0.1);
    margin-bottom: 20px;
}
.footer-links ul li a{
    text-decoration: none;
    color: black;
}
.footer-links ul li{
    list-style: none;
}
.footer-links ul li{
    margin-bottom: 4px;
}
.footer-links h4{
    margin-bottom: 8px;
}
.social-icons{
    margin-bottom: 22px;
    display: flex;
}
.service img{
    margin-left: 10px;
}
.service2 img{
    margin-left: 10px;
}
.social-icons img{
    margin-left: 10px;
}
.inform{
    text-align: center;
    background: #ffffff;
}
.contact p {
    position: relative;
}
.contact .stret:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 185px;
    top: 5px;
    background-image: url("../images/Icon.svg");
}
.contact .stret2:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 175px;
    background-image: url("../images/Icon1.svg");
}
.contact .stret3:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 125px;
    background-image: url("../images/Icon(2).svg");
}